<div class="well">
{% capture category %}{{ post.categories | size }}{% endcapture %}
<h2><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h2>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='year'>%Y</span>年<span class='month'>%m</span>月<span class='day'>%d</span>日"}}</time>
{% if category != '0' or tag != '0' %}
<footer>
	{% if category != '0' %}
	<span class="categories">发布到分类：{{ post.categories | category_links }}</span>
	{% endif %}
	{% if tag != '0' %}
	 <span class="tags">标签： {{ post.tags | tag_links }}</span>
	{% endif %}
	</footer>
{% endif %}
</div>
